/* Estilo general */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* HEADER */
header {
  background-color: #6d6875;
  color: white;
  padding: 20px;
  text-align: center;
}

.titulo {
  margin: 0;
}

/* MENÚ */
.menu {
  background-color: #b5838d;
  padding: 10px;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

/* CONTENIDO PRINCIPAL */
.contenido {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* ARTÍCULOS */
section {
  flex: 3;
}

article {
  background-color: rgb(207, 203, 203);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

/* ASIDE */
aside {
  flex: 2;
  background-color: #e5989b;
  padding: 15px;
  border-radius: 8px;
  color: white;
}

body {
  background: linear-gradient(135deg, #ffe6f0, #e0f7ff);
  font-family: 'Segoe UI', sans-serif;
}

table {
  margin: 40px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
table th {
  background-color: #e5989b;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
}
table td {
  padding: 50px 55px;
  text-align: center;
  font-size: 25px;
  color: #444;
  background-color: #6c6b6ccc;
  border: 2px solid #e5989b;
  transition: all 0.3s ease;
}

/* Filas alternadas */
table tr:nth-child(even) td {
  background-color: #cacaca;
}

/* Efecto hover */
table td:hover {
  background-color: #ffb6d9;
  color: #e5989b;
}


/* FOOTER */
footer{
  background-color:#6d6875;
  padding: 15px;
  margin-top: 20px;
}


footer h3{
  color:rgb(183, 164, 192);
  text-align: center;
}